<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/pipette.css">
    <script type="text/javascript" src="scripts/colorPicker.js"></script>
    <link rel="icon" href="/images/favicon.png">
    <title>{{ page.title }}</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a>
            <li><a href="/about.html">About</a>
            <li><a href="/pomodoro.html">Pomodoro</a>
            <li><a href="/pipette.html">Pipette</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
    <footer class="footer">
        <span>&copy; 2020 <a href="/">Sergey Ivanov</a></span>
        <span>Powered by <a href="https://github.io">GitHub Pages</a></span>
    </footer>
</body>
</html>